<!DOCTYPE html>
<html>
  <head>
    <title>Cubed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/2fbcf4bc83.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="pt-5">
    <%= render partial: "layouts/navbar" %>
    <main class="container mt-5">
      <%= yield %>
    </main>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
