<!DOCTYPE html>
<html>
  <head>
    <title>UCUBED - Learn web3 digital skills and level up your life.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/2fbcf4bc83.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="pt-5">
    <%= render partial: "layouts/navbar" %>
    <main class="container mt-5">
      <%= yield %>
    </main>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>


Community connections are vital to human wellbeing and web3 success. Ucubed graduates are incentivised to stick around to share their knowledge, skills and experience with peers and participate in social impact initiatives locally and globally.
Design all the things! At Ucubed, human-centred design goes into every product, activity, tool and initiative. We take the time to put serious thought into everything we do and take an iterative, continuous improvement approach to always be providing maximum value for all stakeholders.
