<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UCUBED - Learn web3 digital skills and level up your life.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/header-assets' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= render 'layouts/js' %>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
